.contacts {
  max-width: 1400px;
  padding: 100px 100px;
  background-color: #111;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
.contacts {
  padding: 100px 15px;
}
}
