.services__info {
  max-width: 380px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 35px;
  box-sizing: border-box;
  margin-right: 40px;
}

@media screen and (max-width: 1024px) {
  .services__info {
    margin: 30px auto 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
