.header {
  padding: 30px 100px;
  max-width: 1400px;
  background-image: url(../../images/photo_2023-03-13_08-45-34.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

@media screen and (max-width: 1024px){
  .header {
    max-width: 744px;
    padding: 30px 15px 45px;
    margin: 0 auto;
  }

}
