.works__title {
  font-family: 'Vera Humana';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 68px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;

}

@media screen and (max-width: 744px) {
  .works__title {
    font-size: 36px;
  }
}
