.header__adress {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.6;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .header__adress {
    font-size: 15px;
  }
}
