.services-prices__title {
  font-family: 'Vera Humana', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 68px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  max-width: 390px;
}

@media screen and (max-width:1024px) {
  .services-prices__title {
    max-width: 744px;
    margin: 0 auto;
    text-align: center;
  }

}
