.main-info__text {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  opacity: 0.8;
  max-width: 468px;
  margin: 35px 0 35px;
}

@media screen and (max-width: 768px) {
  .main-info__text {
  margin: 25px 0 25px;
  }
}
