.header__nav-links {
  color: #fff;
  list-style: none;
  padding: 0;
  margin: 0 0 0 306px;
  font-family: 'Circe', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  gap: 50px;


}
