.services__button-service {
  font-family: 'Vera Humana';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  background-color: #111;
  text-align: start;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.services__button-service:hover {
  opacity: 0.5;
}
