.header__conection {
  display: flex;
  margin-top: 88px;

  gap: 151px;
  align-items: center;
}

@media screen and (max-width: 1024px){
  .header__conection {
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .header__conection {
    margin-top: 55px;
    gap: 48px;
  }
}
